# Configuración del servidor
PORT=3000

# Configuración de Base de Datos PostgreSQL
# Reemplazar con las credenciales de tu servidor de producción o local
DB_HOST=localhost
DB_PORT=5432
DB_USER=tusuario
DB_PASSWORD=tu_contraseña_fuerte
DB_NAME=cinestream_db

# Seguridad JWT
# DEBE SER UNA CLAVE CRIPTOGRÁFICA FUERTE EN PRODUCCIÓN (Ej. generada con crypto.randomBytes(64).toString('hex'))
JWT_SECRET=reemplazar_esta_clave_en_produccion_por_seguridad
